@media(min-width: 300px) and (max-width:700px) {

#imgProd {  
    max-width: 50px;
    height: 50px; 
}  

#tablePcs{
    display: none;
}

#tableMobile{
    background-color: white;
}

.tituloTabla{
    padding-left: 10px;
}
}

@media(min-width:700px) {


    #imgProd{
        max-width: 200px;
        max-height: 200px;
    }

    #tableMobile{
        display: none;
    }

    #tablePcs{
        background-color: white;
    }
    .tituloTabla{
        padding-left: 10px;
    }
}



