@media(min-width: 300px) and (max-width:700px) {
/* Estilos generales de la tabla */  
.table {  
    width: 350px!important ;/* Ancho específico de la tabla */  
    border-collapse: collapse;  
    margin: 20px 0;  
    font-size: 16px;  
}  

/* Estilo para las celdas del encabezado */  
.table th {  
    background-color: #f4f4f4;  
    padding: 12px;  
    border-bottom: 2px solid #ddd;  
}  

/* Estilo para las celdas del cuerpo */  
.table td {  
    padding: 10px;  
    border-bottom: 1px solid #ddd;  
}  

/* Estilo para las imágenes dentro de la tabla */  
#imgProd {  
    max-width: 50px; /* Tamaño máximo de la imagen */  
    height: auto;  
}  

/* Hover sobre las filas */  
.table tr:hover {  
    background-color: #f1f1f1;  
}  

/* Estilo para los botones */  
.btn {  
    padding: 5px 10px;  
    border: none;  
    cursor: pointer;  
    border-radius: 4px;  
}  

.btn-outline-warning {  
    background-color: transparent;  
    border: 1px solid #ffc107;  
    color: #ffc107;  
    transition: background-color 0.3s ease;  
}  

.btn-outline-warning:hover {  
    background-color: #ffc107;  
    color: white;  
}  

.btn-outline-danger {  
    background-color: transparent;  
    border: 1px solid #dc3545;  
    color: #dc3545;  
    transition: background-color 0.3s ease;  
}  

.btn-outline-danger:hover {  
    background-color: #dc3545;  
    color: white;  
}  

/* Estilo para los iconos */  
.mat-icon {  
    vertical-align: middle; /* Alinear el icono */  
}  /* Estilos generales de la tabla */  
.table {  
    width: 350px; /* Ancho específico de la tabla */  
    border-collapse: collapse;  
    margin: 20px 0;  
    font-size: 16px;  
}  

/* Estilo para las celdas del encabezado */  
.table th {  
    background-color: #f4f4f4;  
    padding: 12px;  
    border-bottom: 2px solid #ddd;  
}  

/* Estilo para las celdas del cuerpo */  
.table td {  
    padding: 10px;  
    border-bottom: 1px solid #ddd;  
}  

/* Estilo para las imágenes dentro de la tabla */  
#imgProd {  
    max-width: 50px; /* Tamaño máximo de la imagen */  
    height: auto;  
}  

/* Hover sobre las filas */  
.table tr:hover {  
    background-color: #f1f1f1;  
}  

/* Estilo para los botones */  
.btn {  
    padding: 5px 10px;  
    border: none;  
    cursor: pointer;  
    border-radius: 4px;  
}  

.btn-outline-warning {  
    background-color: transparent;  
    border: 1px solid #ffc107;  
    color: #ffc107;  
    transition: background-color 0.3s ease;  
}  

.btn-outline-warning:hover {  
    background-color: #ffc107;  
    color: white;  
}  

.btn-outline-danger {  
    background-color: transparent;  
    border: 1px solid #dc3545;  
    color: #dc3545;  
    transition: background-color 0.3s ease;  
}  

.btn-outline-danger:hover {  
    background-color: #dc3545;  
    color: white;  
}  

/* Estilo para los iconos */  
.mat-icon {  
    vertical-align: middle; /* Alinear el icono */  
}  
/*
#imgProd{

    max-width: 100px;
    max-height: 100px;


}*/
}

@media(min-width:700px) {


    #imgProd{
        max-width: 200px;
        max-height: 200px;
    }
}



