<body>
    <!--Imagen1-->
    <img id="img1" src="./assets/img/imagenInicio.webp" alt="" style="height: 50%;width: 100%;">

    <!--CONTENEDOR  1-->
    <div class="menuOfertas">
        <hr>
        <!--Menú de productos-->
        <span class="example-spacer"></span>
        <div class="container2" style="font-family: Cormorant Upright;">
            <button mat-button>Ofertas</button>
            <button mat-button routerLink="/gafas">Gafas de receta</button>
            <button mat-button routerLink="/lentesdesol">Lentes de sol</button>
        </div>
        <hr>

        <!--Cards1-->
        <div class="container text-center justify-content-center" style="margin-top: 20px;">
            <div class="row g-2">
                <div class="col-3">
                    <div class="p-3">
                        <div class="card zoom">
                            <img src="./assets/img/productos/1.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">
                                </p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Cards2-->

                <div class="col-3">
                    <div class="p-3">
                        <div class="card zoom">
                            <img src="./assets/img/productos/2.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text"></p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Cards3-->

                <div class="col-3">
                    <div class="p-3">
                        <div class="card zoom">
                            <img src="./assets/img/productos/4.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text"></p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Cards4-->

                <div class="col-3">
                    <div class="p-3">
                        <div class="card zoom">
                            <img src="./assets/img/productos/1.webp" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text"></p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="info">
        <div class="row gx-5">
            <div class="col-8" id="AcercaDe">
                <div class="p-3" style="font-size: x-large;">

                    <!--Sobre nosotros-->
               
                    <video width="640" height="360" controls>  
                        <source src="/src/assets/vid/SobreNosotros.mp4" type="video/mp4">  
                        Tu navegador no soporta la etiqueta de video.  
                    </video> 
                </div>
            </div>

            <!--UBICACIÓN google-->
            <div class="col-4" id="Ubicacion">
                <div class="p-3">
                    <h1>¿Donde encontrarnos?</h1>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3103.7403774528307!2d-67.98569765421443!3d-38.929911182667105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a30ef2ee4b6b3%3A0xf60599626c221a60!2sCentro%20Educativo%20Tecnica%20N%C2%BA%2030!5e0!3m2!1ses!2sar!4v1723549178478!5m2!1ses!2sar"
                        width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>


</body>