@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


@media(min-width: 300px) and (max-width:700px) {



#contenedorCardsOfertasPc{
    display: none;
}

    #img1 {

        height: 40%;
        width: 100%;
    }

    #card {
        width: 8rem;
        height: fit-content;
        font-size: xx-small;



    }

    #contenedor {
        margin-right: 90px;
    }

    .menuOfertas {
        text-align: center;
        background-color: #dceced;
        justify-content: center;
    }

    .zoom {
        transition: transform 1s;
    }


    .zoom:hover {
        transform: scale(1.1);
    }



    #imagenModal {
        max-width: 200px;
        max-height: 200px;
    }


    .modal {
        width: fit-content;
        height: fit-content;
        margin-left: 60px;
    }

    .modal-header {
        display: flex;
        justify-content: center;
    }


    #imagenOfertasMobile{
        width: -webkit-fill-available;
        margin-top: 15px;
    }

    #imagenOfertasPc{
        display: none;
    }
    
}



@media(min-width:700px) {
   
    contenedorCardsOfertasMobile{
        display: none;
    }
   
    .card {
        max-width: 80%;
        max-height: 500px;

    }

    body {
        background-color: #dceced;

    }

    #img1 {
        width: 100%;
        height: 40rem;
    }

    .menuOfertas {
        background-color: #dceced;
        height: 100%;
        margin-top: 100px;
        height: fit-content;

    }

    .container2 {
        display: flex;
        justify-content: center;
    }

    .zoom {
        transition: transform 1s;
    }

    .zoom:hover {
        transform: scale(1.1);
    }





    #contenedorCardsOfertas {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    #imagenCardsOfertas {
        max-width: 250px;
        height: 200px;
    }


    video {
        border: 5px solid black;
        height: fit-content;
        width: 730px;

    }


    h1 {
        font-family: "Cormorant Infant", serif;
        font-size: xx-large;
    }



    h5 {
        font-size: larger;
    }


    #imagenModal {

        max-width: 450px;

    }


    .modal {
        text-align: center;
    }

    .modal-header {
        display: flex;
        justify-content: center;
    }

    #texto-modal {
        font-size: large;
    }



    #imagenOfertasMobile{
        display: none; 
    }

    #contenedorCardsOfertasMobile{
        display: none;
    }

    #imagenOfertasPc{
        width: -webkit-fill-available;
    }
}