@media(min-width: 300px) and (max-width:700px) {
    .imagenesCarrusel {
        height: 300px;
    }

    .card {
        width: 8rem;
        height: 15rem;
        font-size: xx-small;


    }

    .btn {
        height: 20px;
        width: 50px;
        font-size: x-small;
    }
}



@media(min-width:700px) {
    .card {
        max-width: 80%;

    }

    body {
        background-color: #dceced;

    }

    #img1 {
        width: 105.5rem;
    }
}
.menuOfertas{
    background-color: #dceced;

}

.container2 {
    display: flex;
    justify-content: center;
}

.zoom {
    transition: transform 1s;
}

.zoom:hover {
    transform: scale(1.1);
}


#AcercaDe {
    background-color: #9db5bd;
}

#Ubicacion {
    background-color: #1e5e6c;
    width:32%;
}