@media(min-width: 300px) and (max-width:700px) {

body{
    background-color: #dceced;
}

.row{
   text-align: center;
   justify-content: center;
}

.boton{
    width: 120px;
}
}


@media(min-width:700px) {

    .container {
        display: flex;
        padding: 10px;
        text-align: center;
        justify-content: center;
    }

    .boton {
        width: 120px;
        margin: auto;
    }

    body {
        background-color: #dceced;
    }
}